<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <title>基础组件维护</title>
    <link rel="shortcut icon " type="images/x-icon" href="/img/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/plugin/font-alibaba/iconfont.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/plugin/drag/drag.css" />
    <!-- 代码高亮 -->
    <link rel="stylesheet" type="text/css" href="/plugin/highlight/androidstudio.min.css" />
    <link rel="stylesheet" type="text/css" href="/plugin/elementui/element-2.15.8.css" />
    <style>
        body{background: #aaa url(/img/rainbow.jpg) repeat fixed center; background-size: 270px; margin: 0; padding: 20px 0;}
        [v-cloak]{display: none;}
        ul.comp-type{padding: 0;list-style:none;}
        ul.comp-type li{
            padding: 7px 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s;
            border: 1px solid #ddd;
            color: #666;
            display: flex;
            justify-content: space-between;
            overflow-y: hidden;
        }
        ul.comp-type li:hover, ul.comp-type li.active{
            background-color: #5a7cfb;
            color: #fff;
            border: 1px solid #5a7cfb;
        }
        ul.comp-type li .content{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        ul.comp-type li > .operate{
            transition: all 0.1s;
            transform: translateY(-24px);
            white-space: nowrap;
            margin-left: 15px;
        }
        ul.comp-type li:hover > .operate{transform: translateY(0);}
        ul.comp-type li > .operate > .operate{
            width: 16px;
            height: 18px;
            display: inline-block;
            line-height: 18px;
            text-align: center;
        }
        .el-card__body, .el-main{
            height: calc(100vh - 101px);
            overflow-y: auto;
        }
        .el-row{margin: 0!important;}
        .el-col.el-col-4{padding-left: 0!important;}
        .el-col.el-col-20{padding-right: 0!important;}
        .mr5{margin-right: 5px;} .mt10{margin-top: 10px;}
        .el-button--mini, .el-button--mini.is-round{padding: 3px 13px;}
        p{margin-bottom: 0;}
        .el-button--primary {
            color: #FFF;
            background-color: #5a7cfb;
            border-color: #5a7cfb;
        }
        .el-button--primary:focus, .el-button--primary:hover {
            color: #FFF;
            background-color: #5a7cfb;
            border-color: #5a7cfb;
        }

        .demo-drawer__content{padding: 20px;}
        .el-radio-group{margin-top: 5px;}
        pre{padding: 0; max-height: 300px; overflow-y: auto; margin: 0}
    </style>
</head>
<!-- 主编辑区域 -->
<body>
    <div id="app" v-cloak>
        <el-row :gutter="20">
            <el-col :span="4">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span><i class="fa fa-linode mr5"></i>组件类型</span>
                        <div style="float: right;">
                            <el-tooltip class="item" effect="dark" content="添加新类型" placement="top">
                                <el-button type="primary" @click="addType" size="mini"><i class="fa fa-plus"></i></el-button>
                            </el-tooltip>
                            <span v-show="draged" style="margin-left:10px">
                                <el-tooltip class="item" effect="dark" content="保存排序" placement="top">
                                    <el-button type="success" round @click="saveSort" size="mini"><i class="fa fa-check"></i></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="不保存排序" placement="top">
                                    <el-button @click="cancelSort" round size="mini" style="margin-left:2px"><i class="fa fa-times"></i></el-button>
                                </el-tooltip>
                            </span>
                        </div>
                    </div>
                    <ul class="comp-type">
                        <draggable class="wrapper" v-model="typeList" @end="sortEnd">
                            <transition-group>
                                <li v-for="(item, index) in typeList" :key="item" :class="activeIndex == index ? 'active' : ''" @click="selectType(index)" :title="item.name">
                                    <div class="content">
                                        <i :class="[item.icon, 'fa-fw']"></i>
                                        <span>{{item.name}}</span>
                                    </div>
                                    <div class="operate">
                                        <el-tooltip class="operate" effect="dark" content="添加组件" placement="top">
                                            <i class="fa fa-plus-circle" @click.stop="addComp(index)"></i>
                                        </el-tooltip>
                                        <el-tooltip class="operate" effect="dark" content="编辑" placement="top">
                                            <i class="fa fa-pencil-square" @click.stop="editType(index)"></i>
                                        </el-tooltip>
                                        <el-tooltip class="operate" effect="dark" content="删除" placement="top">
                                            <i class="fa fa-trash" @click.stop="delType(index)"></i>
                                        </el-tooltip>
                                    </div>
                                </li>
                            </transition-group>
                        </draggable>
                    </ul>
                </el-card>
            </el-col>
            <el-col :span="20">
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span><i class="fa fa-list-ul mr5"></i>{{~activeIndex ? typeList[activeIndex].name : ""}}组件列表</span>
                    </div>
                    <el-table :data="tableData" cell-style="text-align: center" header-cell-style="text-align: center" border style="width: 100%">
                        <el-table-column prop="componentName" label="组件名称" width="150"></el-table-column>
                        <el-table-column label="组件图标" width="80">
                            <template slot-scope="scope">
                                <i :class="scope.row.componentIcon"></i>
                            </template>
                        </el-table-column>
                        <el-table-column prop="html" label="html结构" width="150">
                            <template slot-scope="scope">
                                <el-popover placement="right" style= "max-width:1000px; overflow-x: auto;" trigger="click" @show="viewHtml(scope.$index + '' + curPage)">
                                    <pre><code :id="'codesBox' + scope.$index + curPage" :key="'codesBox' + scope.$index + curPage" class="language-objectivec">{{formatHtml(scope.row.html)}}</code></pre>
                                    <el-tag slot="reference" style="cursor: pointer;"><i class="fa fa-info-circle fa-fw"></i>点击查看详情</el-tag>
                                </el-popover>
                            </template>
                        </el-table-column>
                        <el-table-column label="组件类型" width="120">
                            <template slot-scope="scope">{{scope.row.type == 1 ? "容器" : "控件"}}</template>
                        </el-table-column>
                        <el-table-column prop="editSelector" label="属性选择器" width="130"></el-table-column>
                        <el-table-column label="可拖拽大小">
                            <template slot-scope="scope">{{scope.row.canChangeSize == 1 ? "启用" : "禁止"}}</template>
                        </el-table-column>
                        <el-table-column label="可拖拽方向" width="120">
                            <template slot-scope="scope">{{formatDirect(scope.row.dragDirect)}}</template>
                        </el-table-column>
                        <el-table-column prop="height" label="初始高度"></el-table-column>
                        <el-table-column prop="minWidth" label="最小宽度"></el-table-column>
                        <el-table-column prop="createTime" label="创建时间" width="150px"></el-table-column>
                        <el-table-column prop="updateTime" label="更新时间" width="150px"></el-table-column>
                        <el-table-column label="操作" width="150px">
                            <template slot-scope="scope">
                                <el-tooltip content="编辑组件" placement="top">
                                    <el-button round type="warning" @click.native.prevent="editComp(scope.$index)" size="small" icon="fa fa-edit"></el-button>
                                </el-tooltip>
                                <el-tooltip content="删除组件" placement="top">
                                    <el-button round type="danger" @click.native.prevent="delComp(scope.$index)" size="small" icon="fa fa-trash"></el-button>
                                </el-tooltip>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div class="block text-center mt10">
                        <el-pagination layout="prev, pager, next" :total="totalCount" @current-change="handleCurrentChange"></el-pagination>
                    </div>
                </el-card>
            </el-col>
        </el-row>

        <!-- 添加组件类型 -->
        <el-dialog title="添加组件类型" :visible.sync="operateType.dialog" :close-on-press-escape="false" :close-on-click-modal="false">
            <el-form :model="typeForm" :label-width="100">
                <el-form-item label="组件类型名称">
                    <el-input v-model="typeForm.name" autocomplete="off" placeholder="请输入组件类型名称"></el-input>
                </el-form-item>
                <el-form-item label="组件类型图标">
                    <el-input v-model="typeForm.icon" autocomplete="off" placeholder="请输入组件类型图标"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="operateType.dialog = false">取 消</el-button>
                <el-button type="primary" @click="saveType" :loading="operateType.loading">{{ operateType.loading ? '提交中 ...' : '确 定' }}</el-button>
            </div>
        </el-dialog>

        <!-- 添加基础组件 -->
        <el-drawer title="添加基础组件" :visible.sync="operateComp.dialog" direction="rtl" custom-class="demo-drawer" ref="drawer" :close-on-press-escape="false" :wrapper-closable="false">
            <div class="demo-drawer__content">
                <el-form :model="componentForm" label-width="82px" label-position="right">
                    <el-form-item label="组件名称">
                        <el-input v-model="componentForm.componentName" autocomplete="off" placeholder="请输入组件名称"></el-input>
                    </el-form-item>
                    <el-form-item label="组件图标">
                        <el-input v-model="componentForm.componentIcon" autocomplete="off" placeholder="请输入组件图标"></el-input>
                    </el-form-item>
                    <el-form-item label="html结构">
                        <el-input type="textarea" v-model="componentForm.html" placeholder="请填写组件html结构"></el-input>
                    </el-form-item>
                    <el-form-item label="组件类型">
                        <el-radio-group v-model="componentForm.type">
                            <el-radio label="1">容器</el-radio>
                            <el-radio label="2">控件</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="属性选择器">
                        <el-input v-model="componentForm.editSelector" autocomplete="off" placeholder="请输入属性选择器"></el-input>
                    </el-form-item>
                    <el-form-item label="可拖拽大小">
                        <el-radio-group v-model="componentForm.canChangeSize">
                            <el-radio label="1">启用</el-radio>
                            <el-radio label="0">禁止</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="可拖拽方向">
                        <el-tooltip class="item" effect="dark" content="允许可拖拽大小启用后才有意义" placement="left" style="float: right; color: #ddd; margin-top: 12px;">
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        </el-tooltip>
                        <el-checkbox-group v-model="componentForm.dragDirect">
                            <el-checkbox label="t">上</el-checkbox>
                            <el-checkbox label="b">下</el-checkbox>
                            <el-checkbox label="l">左</el-checkbox>
                            <el-checkbox label="r">右</el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="初始高度">
                        <el-input v-model="componentForm.height" autocomplete="off" placeholder="请输入组件高度或auto"></el-input>
                    </el-form-item>
                    <el-form-item label="最小宽度">
                        <el-input v-model="componentForm.minWidth" autocomplete="off" placeholder="请输入组件最小宽度"></el-input>
                    </el-form-item>
                </el-form>
                <div class="demo-drawer__footer text-center">
                    <el-button @click="operateComp.dialog = false">取 消</el-button>
                    <el-button type="primary" @click="saveComponent" :loading="operateComp.loading">{{ operateComp.loading ? '提交中 ...' : '确 定' }}</el-button>
                </div>
            </div>
        </el-drawer>
    </div>
    <script src="/js/min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/plugin/elementui/element-2.15.8.js"></script>
    <script src="/plugin/vuedraggable/sortable.min.js"></script>
    <script src="/plugin/vuedraggable/vuedraggable.js"></script>
    <script src="/plugin/html-beauty/beautify-html.js"></script>
    <!-- 代码高亮 -->
    <script src="/plugin/highlight/highlight.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data() {
                return {
                    curPage: 1, // 当前页
                    totalCount: 0, // 当前类型组件总条数
                    draged: false, // 是否被拖拽过
                    operateType: {
                        dialog: false, // 操作的对话框展示状态
                        loading: false, // 保存按钮loading
                        index: -1, // 操作的下标
                        type: "" // add:添加edit:编辑
                    },
                    operateComp: {
                        dialog: false, // 操作的对话框展示状态
                        loading: false, // 保存按钮loading
                        index: -1, // 操作的下标
                        type: "" // add:添加edit:编辑
                    },
                    typeList: [],
                    activeIndex: -1, // 当前激活的组件类型
                    tableData: [], // 组件表格数据
                    typeForm: {name: "", icon: ""}, // 组件类型对象
                    componentForm: { // 组件对象
                        categoryId: "",
                        editSelector: "",
                        type: "",
                        canChangeSize: "1",
                        componentIcon: "fa fa-tags",
                        componentName: "",
                        height: "50",
                        minWidth: "",
                        dragDirect: ["t", "b"],
                        html: ""
                    }
                }
            },
            methods: {
                selectType(index) { // 点击列表内容
                    this.curPage = 1; // 重置当前页码
                    this.activeIndex = index;
                    this.$nextTick(function() {
                        // 查询当前类型组件总条数
                        $.ajax({
                            url: "/setting/searchCount",
                            method: "get",
                            data: {
                                categoryId: this.typeList[this.activeIndex].id
                            },
                            success: (data) => {
                                if(data.success) {
                                    this.totalCount = data.count;
                                }
                            },
                            error() {
                            }
                        })
                        // 分页查询组件
                        this.handleCurrentChange(1);
                    })
                },
                saveType() { // 点击保存
                    this.operateType.loading = true;
                    if (this.operateType.type == "add") { // 添加
                        $.ajax({
                            url: "/setting/saveCompType",
                            method: "post",
                            data: {...this.typeForm, id: guid()},
                            success: (data) => {
                                if (data.success) {
                                    vm.$message({
                                        message: '添加成功',
                                        type: 'success'
                                    });
                                    this.operateType.dialog = false; // 关闭组件类型对话框
                                    this.operateType.loading = false;

                                    // 刷新组件类型数据
                                    this.searchAllType();
                                }
                            },
                            error() {
                            }
                        })
                    } else { // 编辑
                        $.ajax({
                            url: "/setting/editCompType",
                            method: "post",
                            data: {...this.typeForm, id: this.typeList[this.operateType.index].id},
                            success: (data) => {
                                if (data.success) {
                                    vm.$message({
                                        message: '编辑成功',
                                        type: 'success'
                                    });
                                    this.operateType.dialog = false; // 关闭组件类型对话框
                                    this.operateType.loading = false;

                                    // 刷新组件类型数据
                                    this.searchAllType();
                                }
                            },
                            error() {
                            }
                        })
                    }
                },
                addType() { // 添加组件类型
                    this.operateType.type = "add";
                    this.operateType.index = -1;
                    this.operateType.dialog = true;
                },
                editType(index) { // 编辑组件类型
                    this.operateType.type = "edit";
                    this.operateType.index = index;
                    // 当前操作组件类型对象赋值
                    this.typeForm = $.extend(true, {}, this.typeList[index]);
                    this.operateType.dialog = true;
                },
                delType(index) { // 删除组件类型
                    this.$confirm('确定要删除此组件类型?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        $.ajax({
                            url: "/setting/deleteCompType",
                            method: "post",
                            data: {id: this.typeList[index].id},
                            success: (data) => {
                                if (data.success) {
                                    this.$message({
                                        type: 'success',
                                        message: '删除成功!'
                                    });

                                    // 刷新组件类型数据
                                    this.searchAllType();
                                }
                            },
                            error() {
                            }
                        })
                    }).catch(() => {});
                },
                addComp(index) { // 添加组件
                    this.operateComp.type = "add";
                    this.operateType.index = index;
                    this.operateComp.dialog = true;
                },
                editComp(index) { // 编辑组件
                    this.operateComp.type = "edit";
                    this.operateComp.index = index;
                    // 当前操作组件对象赋值
                    this.componentForm = $.extend(true, {}, this.tableData[index]);
                    this.operateComp.dialog = true;
                },
                delComp(index) { // 删除组件
                    this.$confirm('确定要删除此组件?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        $.ajax({
                            url: "/setting/deleteCompDetail",
                            method: "post",
                            data: {id: this.tableData[index].id},
                            success: (data) => {
                                if (data.success) {
                                    this.$message({
                                        type: 'success',
                                        message: '删除成功!'
                                    });

                                    // 刷新组件列表数据
                                    this.handleCurrentChange(1);
                                }
                            },
                            error() {
                            }
                        })
                    }).catch(() => {});
                },
                saveComponent() { // 保存添加的组件
                    this.operateComp.loading = true; // 添加组件保存按钮loading
                    if (this.operateComp.type == "add") { // 添加
                        this.componentForm.categoryId = this.typeList[this.operateType.index].id;
                        $.ajax({
                            url: "/setting/saveCompDetail",
                            method: "post",
                            data: {...this.componentForm, id: guid()},
                            traditional: true,
                            success: (data) => {
                                if (data.success) {
                                    vm.$message({
                                        message: '保存成功',
                                        type: 'success'
                                    });
                                    this.operateComp.dialog = false; // 关闭组件对话框
                                    this.operateComp.loading = false;

                                    // 刷新组件列表数据
                                    this.handleCurrentChange(1);
                                }
                            },
                            error() {
                            }
                        })
                    } else { // 编辑
                        $.ajax({
                            url: "/setting/editCompDetail",
                            method: "post",
                            data: {...this.componentForm, id: this.tableData[this.operateComp.index].id},
                            traditional: true,
                            success: (data) => {
                                if (data.success) {
                                    vm.$message({
                                        message: '保存成功',
                                        type: 'success'
                                    });
                                    this.operateComp.dialog = false; // 关闭组件对话框
                                    this.operateComp.loading = false;

                                    // 刷新组件列表数据
                                    this.handleCurrentChange(1);
                                }
                            },
                            error() {
                            }
                        })
                    }
                },
                searchAllType() { // 查询所有的组件类型
                    $.ajax({
                        url: "/setting/searchCompType",
                        method: "get",
                        data: {},
                        success: (data) => {
                            if (Object.prototype.toString.call(data) == "[object Array]") {
                                this.typeList = data;
                            }
                        },
                        error() {
                        }
                    })
                },
                handleCurrentChange(curPage) { // 换页触发
                    this.curPage = curPage; // 记录当前页码
                    $.ajax({
                        url: "/setting/searchCompById",
                        method: "get",
                        data: {
                            categoryId: this.typeList[this.activeIndex].id,
                            page: curPage,
                            limit: 10
                        },
                        success: (data) => {
                            if (Object.prototype.toString.call(data) == "[object Array]") {
                                this.tableData = data;
                            }
                        },
                        error() {
                        }
                    })
                },
                sortEnd(ev) { // 拖拽排序结束
                    this.selectType(ev.newIndex);
                    this.draged = true;
                },
                saveSort() { // 保存排序
                    $.ajax({
                        url: "/setting/sortCompType",
                        method: "post",
                        traditional: true,
                        data: {
                            ids: this.typeList.map(item => {return item.id})
                        },
                        success: (data) => {
                            if (data.success) {
                                vm.$message({
                                    message: '排序成功',
                                    type: 'success'
                                });
                                this.draged = false; // 回复到排序前状态
                            }
                        },
                        error() {
                        }
                    })
                },
                cancelSort() { // 不保存排序
                    this.draged = false;
                },
                viewHtml(index) { // 查看详细的html结构
                    hljs.highlightElement($("#codesBox" + index)[0]);
                }
            },
            created() {
                this.searchAllType(); // 查询所有组件类型
            },
            computed: {
                formatHtml: function() { // format html字符串
                    return function(htmlStr) {
                        return html_beautify(htmlStr, {
                            inline: ["i"]
                        }); // 美化后的代码
                    }
                },
                formatDirect() { // format可拖拽方向
                    return function(direct) {
                        if (!direct) {
                            return "";
                        }
                        return direct.map(item => {
                            switch(item) {
                                case "t":return "上";
                                case "b":return "下";
                                case "l":return "左";
                                case "r":return "右";
                                default:return"";
                            }
                        }).join("、");
                    }
                }
            },
            mounted() {

            }
        })

        // 生成uuid
        function guid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0,
                    v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }
    </script>
</body>
</html>
